body {
    margin: 16;
    text-align: center;
    padding: 16;
    font-family: 'Arial';
    background-color: lightgray;
}

.Button {
    display: inline-block;
    border-radius: 4px;
    background-color:crimson;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.Banner {
    color: white;
    text-align: center;
    background-color: crimson;
    margin: 200;
}

.btn {
    background: #eb94d0;
}

.Progression {
    
}

h2 {
    display: inline;
}






